# WEEK - 8 ASSIGNMENTS
## Data Science & Data Analytics Laboratory
### Name: Kinjal Raykarmakar
#### Section: CSE 3H
#### Roll No.: 29
#### Enrollment No.: 12018009019439

# Multi Layer Perceptron

In [2]:
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

In [4]:
import pandas as pd

In [5]:
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data["species"] = pd.DataFrame(iris.target)

In [6]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
X = data.iloc[:, :-1]
Y = data.iloc[:, -1]

In [9]:
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(
    hidden_layer_sizes=(10,),
    max_iter=5000,
    activation='logistic',
    solver='sgd',
    learning_rate_init=0.001)

In [10]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, Y, cv=10)

In [11]:
print("Iteration\tAccuracy")
for idx, score in enumerate(scores):
    print("%d\t\t%0.2f"%(idx, score))

Iteration	Accuracy
0		1.00
1		0.93
2		0.93
3		0.93
4		0.80
5		0.93
6		0.87
7		1.00
8		0.93
9		1.00

In [12]:
print("Average Accuracy: %0.2f"%scores.mean())
print("Standard deviation: %0.2f"%scores.std())

Average Accuracy: 0.93
Standard deviation: 0.06