Section: H Roll No.: 29

## DSDA31

In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'f1':[1,5,0],'f2':[2,6,6],'f3':[3,np.nan,9],'f4':[4,7,np.nan]}
df = pd.DataFrame.from_dict(d)
df.head()

   f1  f2   f3   f4
0   1   2  3.0  4.0
1   5   6  NaN  7.0
2   0   6  9.0  NaN

In [3]:
df['f3'].fillna(value=df["f3"].mean(), inplace=True)
df['f4'].fillna(value=df["f4"].mean(), inplace=True)

In [4]:
df.head()

   f1  f2   f3   f4
0   1   2  3.0  4.0
1   5   6  6.0  7.0
2   0   6  9.0  5.5