# WEEK - 5 ASSIGNMENTS
## Data Science & Data Analytics Laboratory
### Name: Kinjal Raykarmakar
#### Section: CSE 3H
#### Roll No.: 29
#### Enrollment No.: 12018009019439

# Naive Bayes

In [3]:
from sklearn.datasets import load_iris

In [4]:
iris = load_iris()

In [5]:
import pandas as pd

In [6]:
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data["species"] = pd.DataFrame(iris.target)

In [7]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
X = data.iloc[:, :-1]
Y = data.iloc[:, -1]

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [22]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [23]:
model_fit = model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

print(confusion_matrix(Y_pred, Y_test))
print("\nAccuracy:", accuracy_score(Y_pred, Y_test).round(2)*100, "%")
print("Precision:", precision_score(Y_pred, Y_test, average="macro").round(2)*100, "%")
print("Recall:", recall_score(Y_pred, Y_test, average="macro").round(2)*100, "%")

[[17  0  0]
 [ 0 11  1]
 [ 0  2 14]]

Accuracy: 93.0 %
Precision: 93.0 %
Recall: 93.0 %