# WEEK - 2 ASSIGNMENTS
## Data Science & Data Analytics Laboratory
### Name: Kinjal Raykarmakar
#### Section: CSE 3H
#### Roll No.: 29
#### Enrollment No.: 12018009019439

# Logistic Regression

In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
import pandas as pd

In [4]:
data = pd.DataFrame(iris.data, columns=iris.feature_names)
data["species"] = pd.DataFrame(iris.target)

In [5]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
X = data.iloc[:, :-1]
Y = data.iloc[:, -1]

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [8]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)

In [11]:
model_fit = model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score

print("Accuracy:", accuracy_score(Y_pred, Y_test).round(2)*100, "%")

Accuracy: 100.0 %